// Navigation Styles here
header {
  margin: 0 @wide-margin;
  display: flex;
  padding-top: @small-padding;
  align-items: center;
  justify-content: space-between;

  @media @tablet {
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    flex: 1 1 300px;
    @media @tablet {
      flex: 1 1 50px;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    flex: 1 1 350px;
    @media @tablet {
      flex: 1 1 30px;
    }

    a {
      color: @shark;
      font-size: 1.5rem;
      text-decoration: none;
      margin-left: 5rem;
      align-self: center;
    }
  }
}
